extends layouts/main-layout.pug

block styles    
    link(rel="stylesheet", href="/css/product.css")

block content 
        main
            if prods.length>0
                .grid
                     each product in prods
                        article.card.prouct-item
                            header.class__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://th.bing.com/th/id/OIP.pbAfiIsKfVmBEUCMtKd9_QHaHa?w=163&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3",alt="lone wolf")
                            div.card__content
                                h2.product__price $19.99
                                p.product_description A very interesting book about so many even
                            .card__action
                                button.btn Add to cart 
            else 
                h1 No Product







//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{doctitle}
//-         link(rel="stylesheet", href="/css/main.css")
//-         link(rel="stylesheet", href="/css/product.css")
//-     body 
//-         header.main-header 
//-             nav.main-header__nav
//-                 ul.main-header__item-list
//-                     li.main-header__item
//-                         a.active(href="/") Shop
//-                     li.main-header__item
//-                         a(href="/admin/add-product") Add Product

//-         main 
//-             if prods.length>0
//-                 .grid
//-                     each product in prods
//-                         article.card.prouct-item
//-                             header.class__header
//-                                 h1.product__title #{product.title}
//-                             div.card__image
//-                                 img(src="https://th.bing.com/th/id/OIP.pbAfiIsKfVmBEUCMtKd9_QHaHa?w=163&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3",alt="lone wolf")
//-                             div.card__content
//-                                 h2.product__price $19.99
//-                                 p.product_description A very interesting book about so many even
//-                             .card__action
//-                                 button.btn Add to cart 
//-             else 
//-                 h1 No Product